.DS_Store
.python-version
**/__pycache__/**
build
install
log
output

# object detection
**.pt
src/microros/dependencies/**
.devcontainer/devcontainer_environment_variables
**.engine
**.onnx
**.o
**.so
src/object_detection/object_detection/deepstream_yolo/ultralytics/
src/object_detection/object_detection/deepstream_yolo/labels.txt
src/object_detection/object_detection/frame_results/

# groundstation
pkg
ground_station/bin
ground_station/go.sum
ground_station/last_build_time.txt
ground_station/app_data/app_state.json
ground_station/app_data/assets/leaflet.css
ground_station/app_data/assets/leaflet.js
ground_station/app_data/assets/leaflet.rotatedMarker.js
# ground_station/app_data/js_libraries_cache

# src/object_detection
src/object_detection/object_detection/runs/**
src/object_detection/object_detection/test_results/**
src/object_detection/object_detection/weights/**
src/object_detection/object_detection/dataset/**
src/object_detection/object_detection/dataset/**
src/object_detection/object_detection/hard_images/**