[tool.ruff]
# Exclude a variety of commonly ignored directories.
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".ipynb_checkpoints",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  "**/.pyenv/**",
  ".pyenv",
  ".pytest_cache",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  ".vscode",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
  "install",
  "log",
  "build",
  "src/microros",
  "crontabs",
  ".github",
]

# Same as Black.
line-length = 130
indent-width = 4

# Cache directory
cache-dir = "~/.cache/ruff"

# Also format files in .gitignore
respect-gitignore = false

[tool.ruff.lint]
# Enable all rules, then selectively ignore some below.
select = ["ALL"]

ignore = [
  "BLE001",
  "CPY001",
  "COM812",
  "S101",
  "S113",
  "S311",
  "SIM115",
  "SLF001",
  "INP001",
  "D100",
  "D101",
  "D102",
  "D107",
  "D202",
  "D205",
  "D400",
  "D401",
  "C901",
  "E401",
  "E501",
  "E731",
  "E741",
  "EM101",
  "ERA001",
  "EXE002",
  "EM102",
  "F403",
  "F405",
  "FA100",
  "FBT001",
  "FBT002",
  "FBT003",
  "N801",
  "N802",
  "N803",
  "N813",
  "PLR0904",
  "PLR0912",
  "PLR0913",
  "PLR0915",
  "PLR2004",
  "PERF203",
  "PTH",
  "RUF022",
  "T201",
  "TD002",
  "TD003",
  "TRY002",
  "TRY003",
  "TRY301",
  "RET505",
  "G004",
  "UP015",
  "W293",
  "Q000",
  "PERF401",
  "D103",
  "TRY400"
]

unfixable = ["F401"]

exclude = [
  "__pycache__",
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "dist",
  "node_modules",
  "venv",
]

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.pydocstyle]
convention = "pep257"


[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings.
docstring-code-format = true

# Set the line length limit used when formatting code snippets in docstrings.
docstring-code-line-length = "dynamic"

# Custom: maximum consecutive blank lines to preserve
max-blank-lines = 4