name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: docker build -t vtautoboat/autoboat_docker_dev_image:latest .devcontainer/ -f .devcontainer/Dockerfile

      - name: Push Docker image to Docker Hub
        run: docker push vtautoboat/autoboat_docker_dev_image:latest
