name: Docker Image CI

on:
  push:
    branches: ["main"]
    paths:
      - ".devcontainer/Dockerfile"
  pull_request:
    branches: ["main"]
    paths:
      - ".devcontainer/Dockerfile"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push (cached)
        uses: docker/build-push-action@v5
        with:
          context: .devcontainer
          file: .devcontainer/Dockerfile

          # Push to Docker Hub
          push: true
          tags: |
            vtautoboat/autoboat_docker_dev_image:latest
            vtautoboat/autoboat_docker_dev_image:${{ github.sha }}

          # USE REGISTRY CACHE (the important part!)
          cache-from: type=registry,ref=vtautoboat/autoboat_docker_dev_image:latest
          cache-to: type=registry,ref=vtautoboat/autoboat_docker_dev_image:cache,mode=max
